/** @format */

@import "tailwindcss";

@theme {
  --font-mainName: "Lora", "sans-serif";
  --font-display: "Montserrat", "sans-serif";

  /* Cool and Collected Color Scheme*/
  --color-DarkCyan: oklch(0.2854 0.0486 203.48);
  --color-DeepTeal: oklch(0.3705 0.0626 205.92);
  --color-BurntSienna: oklch(0.4945 0.111 34.72);
  --color-BurntSienna-Darker: oklch(0.4436 0.111 34.72);
  --color-VividCerulean: oklch(0.6558 0.1097 203.42);
  --color-CrystalBlue: oklch(0.8706 0.0362 201.04);

  --color-CustomText: oklch(0.9702 0 0);
  --color-CustomBackground: oklch(0.3191 0.0141 166.83);
  --color-CustomAccent: oklch(0.9124 0.0256 178.33);
  --color-CustomAccentDarker: oklch(0.8056 0.0256 178.33);
  --color-CustomNav: oklch(0.4588 0.0732 197.45);
  --color-CustomHover: oklch(0.8766 0.086755 64.6051);
  --color-CustomHover: oklch(0.8766 0.086755 64.6051);
  --color-CustomHoverDarker: oklch(0.7851 0.0682 62.86);
}
